body{
    overflow-x: hidden;
    margin: 0;
    background-color: #1d3124;
    color: #c3cbd6;
    font-family: Courier;
}
.app{
    width: max-content;
    height: max-content;
}
h1{
    float: left;
    clear: both;
    margin: 0em 1em 0 1em;
    font-size: 6vw;
    color: #e59560;
}
p {
    font-size: 1.5vw;
    margin: 0 4em 1em 4em;
}

#skills p{
    display: inline-block;
    margin: auto;
    padding: 0 1em 0 1em;
}
hr{
    width: 100%;
    color: #e59560;
}
.container {
    float: left;
    clear: both;
    display: flex;
    align-items: center;
}
.navigate {
    display: block;
    text-align: center;
}
#links{
    width: 20vw;
    box-sizing: border-box;
}
.link{
    float: left;
    clear: both;
    margin: 1vw 6vw 1vw 6vw;
}
.icon{
    width: 8vw;
    height: 8vw;
}

a:visited {
    color: #c3cbd6;
}
#flashlight{
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgba(204, 224, 205, 0.5) 0%,  rgba(255,255,255,0) 50%);
    border-radius: 50%;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 100px;
    }
    p {
        font-size: 23px;
    }
} 

/* Large devices (laptops/desktops/landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
    h1 {
        font-size: 100px;
    }
    p {
        font-size: 30px;
    }
}

/* Extra small devices landscape layouts only */
@media only screen and (max-height: 600px) and (orientation:landscape) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 15px;
    }
}