body{
    overflow-x: hidden;
    margin: 0;
    background-color: #1d3124;
    color: #c3cbd6;
    font-family: Courier;
}
.app{
    width: max-content;
    height: max-content;
}
h1{
    float: left;
    clear: both;
    margin: 1em 1em 0 1em;
    font-size: 6vw;
    color: #e59560;
}
p {
    font-size: 1.5vw;
    margin: 0 4em 1em 4em;
}
#skills {
    float: left;
    clear: both;
    text-align: justify;
}
hr{
    width: 100%;
    color: #e59560;
}
.container {
    float: left;
    clear: both;
    display: flex;
    align-items: center;
}
#text{
    width: 80vw;
}
#links{
    width: 20vw;
    box-sizing: border-box;
}
.link{
    float: left;
    clear: both;
    margin: 0 6vw 1em 6vw;
}
.icon{
    width: 8vw;
    height: 8vw;
}

a:visited {
    color: #c3cbd6;
}

@media only screen and (max-width: 900px) {
    .container {
        display: block;
    }
    #text{
        width: 100%;
    }
    #links{
        margin: 0 auto;
        width: max-content;
    }
    .link{
        float: left;
        clear: none;
        margin: 0 1em 0 1em;
    }
    h1{
        font-size: 8vh;
    }
    p {
        font-size: 2vh;
    }
}