body{
    overflow-x: hidden;
}
h1{
    float: left;
    clear: both;
    margin: 1em 0 0 1em;
    font-size: 6vw;
}
p {
    font-size: 2vw;
    margin: 0 0 1em 3em;
}
#skills {
    float: left;
    clear: both;
    text-align: justify;
}
hr{
    width: 100%;
}
.container {
    float: left;
    clear: both;
    display: flex;
}
#text{
    width: 80vw;
}
#links{
    width: 20vw;
    box-sizing: border-box;
}
.link{
    float: left;
    clear: both;
    margin: 0 6vw 1em 6vw;
}
.icon{
    width: 8vw;
    height: 8vw;
}

@media only screen and (max-width: 900px) {
    
}